.portfolio-section {
    display: grid;
    grid-template-columns: .30fr 1fr;
    grid-column-gap: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #F0F2F5;
    padding: 0 10rem;

    &__left,
    &__right {
        margin-top: 1.5rem;
        
        & > *:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    &__heading {
        text-align: center;
        color: black;
        font-weight: 600;
        font-size: 3.2rem;
        letter-spacing: 1px;
    }

    &__portfolio-item-box {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(25rem, .75fr));
        grid-gap: 2rem;

        &__item {
            position: relative;
            background-image: linear-gradient(
                to right bottom,
                rgba(#303030, .8),
                rgba(#606060, .8));
                
            cursor: pointer;
            transition: background-image .5s;

            & img {
                max-width: 100%;
                height: auto;
                object-fit: cover;
                z-index: -1;
            }

            & svg {
                z-index: 50;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 4rem;
                width: 4rem;
                opacity: 0;
            }
        } 

        &__item::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            background-image: linear-gradient(
                to right bottom,
                rgba(white, .8),
                rgba(white, .8)),
                url('../Assets/images/placeholder.png');
            
            background-size: cover;
            cursor: pointer;
            transition: opacity .5s;
        }

        &__item:hover::after,
        &__item:hover svg {
            opacity: 1;
        }
    }
}

.centered-container {
    width: 80%;
    margin: 0 auto;
}

.tools-grid {
    display: grid;
    align-items: flex-start;
    font-size: 1.5rem;
    font-style: italic;
    color: black;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-gap: .8rem;

    &__element {
        position: relative;
        line-height: 5rem;
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        height: 2rem;
        width: 2rem;
    }
}