.timeline {
}

.timeline-container {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: min-content max-content;
    position: relative;

    &::before {
        position: absolute;
        top: 1.3rem;
        bottom: 0;
        left: .52rem;
        content: "";
        width: 1px;
        background-color: black;
        grid-column: 1 / 2;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 2 / 3;
        
        & div {
            align-self: flex-start;
            text-align: center;
            padding: 4px 4px;
            background-color: black;
            color: white;
        }
    }

    &__symbol {
        position: absolute;
        top: -.5rem;
        left: 0;
        width: 1.2rem;
        text-align: center;
        font-size: 1.5rem;
        grid-column: 1 / 2;
    }
}