.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(1rem);

    &__container {
        background-color: rgba($color: white, $alpha: .93);
        height: 65vh;
        width: 50vw;
        border-radius: 5rem;

        // The transform: translate centering itself will be done in the slide-bottom animation 
        position: absolute;
        top: 50%;
        left: 50%;

        -webkit-animation: slide-bottom .9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-bottom .9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        @include respond(big-phone) {
            height: 100%;
            width: 100%;
            border-radius: 0;
        }
    }

    &__close-button {
        position: absolute;
        border: none;
        background-color: transparent;
        top: 2.5%;
        right: 5%;
        transition: all .2s;
        cursor: pointer;
    
        &:active,
        &:focus {
            outline: none;
        }

        &:hover {
            transform: translateY(-6px) scale(1.05);
        }

        & svg {
            height: 3rem;
            width: 3rem;
        }
    }

    &__symbol {
        display: flex;
        align-items: center;
        justify-content: center;

        &--star-icon {
            color: #2c3e50;
            height: 3rem;
            width: 3rem;
        }

        &--line {
            width: 100%;
            max-width: 7rem;
            height: .25rem;
            background-color: #2c3e50;
            border-radius: 1rem;
            border-color: #2c3e50;
        }

        &--line:first-of-type {
            margin-right: 1rem;
        }

        &--line:last-of-type {
            margin-left: 1rem;
        }
    }
}

.centered-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    text-align: center;

    & > *:not(:first-child):not(:last-child) {
        margin-bottom: 2rem;
    }

    &__techcontainer {
        display: flex;
        justify-content: space-around;
        font-size: 1.9rem;
        font-weight: bold;
        flex-wrap: wrap;
    }
}

/* Animation keyframes */
@-webkit-keyframes slide-bottom {
0% {
    -webkit-transform: translate(-50%, -85%);
            transform: translate(-50%, -85%);
}

75% {
    -webkit-transform: translate(-50%, -35%);
            transform: translate(-50%, -35%);
}

100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    }
}
@keyframes slide-bottom {
0% {
    -webkit-transform: translate(-50%, -85%);
            transform: translate(-50%, -85%);
}

75% {
    -webkit-transform: translate(-50%, -35%);
            transform: translate(-50%, -35%);
}

100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    }
}
  